PAGES AND LAYOUT
    * MAKE NAV LINKS ANIMATE ON HOVER
    * WHEN CREATING NEW POSTS GIVE USER IMAGE UPLOAD/CROPPING OPTIONS AND A WYSIWYG THUMBNAIL PREVIEW/EDITOR
    * STYLE ARTICLE SHOW PAGE
USERS
    * INSTALL DEVISE
    * DISABLE ACCOUNT CREATION
    * CREATE ADMIN ACCOUNT
    * MAKE IT SO ONLY ADMIN HAS CREATE/UPDATE/DELETE OPTIONS FOR ARTICLES