PAGES AND LAYOUT
    * COMPLETE ARTICLE INDEX THUMBNAILS
    * WHEN CREATING NEW POSTS GIVE USER IMAGE UPLOAD/CROPPING OPTIONS
    * STYLE ARTICLE SHOW PAGE
USERS
    * INSTALL DEVISE
    * DISABLE ACCOUNT CREATION
    * CREATE ADMIN ACCOUNT
    * MAKE IT SO ADMIN HAS CREATE/UPDATE/DELETE OPTIONS FOR ARTICLES