<% if @success %>
  <!--update the nav bar-->
  $("#nav-user-links").html('<%= j render partial: 'layouts/user_links' %>');
  $("#nav-article-links").html('<%= j render partial: 'layouts/article_links' %>');
  $('#csrf').html('<%= j csrf_meta_tags %>');
  <!--Close the modal-->
  $("#signup-modal").modal("toggle");
<% else %>
  <!--Inject Partial into modal-->
  $("#signup-modal").html('<%= j render "new" %>');
  
  $('.devise-errors').html('<p class="signup-error">Something Went Wrong</p>')
  
  <!--Remove strange extra linebreak that bootstrap throws in after form labels-->
  $('br').remove()
  
  <!--Shake the form-->
  $(".modal-dialog").addClass('shake');
  setTimeout(function(){ $("#signup-modal").removeClass('shake'); }, 1000);
<% end %>