<div class="row">
  <nav class="navbar navbar-fixed">
      <h1 class="text-center">devaent 1316</h1>
      <div class="row text-center">
        <%= link_to "Read", root_path, class: "navbar-link" %>
      </div>
      </br>
      </br>
  </nav>
</div>
