<div class="row">
  <nav class="navbar navbar-default">
    </br>
    <h1 class="text-center">devaent <span="hashtag">#</span> 1316</h1>
    </br>
    <div class="row text-center">
      <%= link_to "Home", root_path, class: "navbar-link" %>
      <%= link_to "About", about_path, class: "navbar-link" %>
    </div>
    </br>
    </br>
    </br>
  </nav>
</div>
