<script type="text/javascript">
  $('#yield-container').css('background-color', 'white');
</script>

<%= form_for @article, :html => {:class => "article-form"} do |f| %> <!--New Article Form-->
<div class="container flex">
  <div class="row p-4">
    <div class="col-12">
        <!--Title field-->
        <%= f.text_field :title, :class => "title-area-article", :placeholder => "Title" %>
        <!--WYSIWYG editor-->
        <%= f.cktext_area :body, :class => "ckeditor", ckeditor: { toolbar: 'article', height: '900'} %>
    </div>
  </div>
  <hr></hr>
  <div class="row p-2">
    <div class="col-4 offset-4 text-center">
        <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %> <!--End of form-->