<div class="articles-container">
  
  <%= hidden_field_tag 'page-number', 1 %>
  
  <ul class="articles">
    <%= render @articles %>
  </ul>
  
  <%= link_to "load more...", root_path, id: 'load-more' %>
  
</div>