<div class="container-fluid">
  <!--FOR EACH ARTICLE, CREATE A DIV OF APPROPRIATE SIZE-->
  <% @article.reverse.each do |article| %>
    <% id = article.id %>
    <% if id%3 == 0 %>
      <% col = 12 %>
    <% else %>
      <% col = 6 %>
    <% end %>
    <%= content_tag :div, :class => "col-md-#{col} text-center thumbnail-dither" do -%>
      <%= link_to article_path(article) do %>
        <%= image_tag "articleThumbnail#{id}" %>
      <% end %>
    <% end %>
  <% end %>
</div>