<div class="container-fluid col-md-12">

  <!--COUNT THE NUMBER OF ARTICLES-->
  <% numArticle = 0 %>
  <% @article.each do |article| %>
    <% numArticle += 1 %>
  <% end %>

  <!--FOR EACH ARTICLE, CREATE A DIV OF APPROPRIATE SIZE-->
  
  <% j = 0 %>
  <% col = 6 %>
  <% if numArticle % 3 == 0 || numArticle % 3 == 2 %>
  
    <% i = 1 %>
  
    <% @article.reverse.each do |article| %>
      
      <% j = i%3 %>
      <% if j > 0 %>
        <% col = 6 %>
      <% else %>
        <% col = 12 %>
      <% end %>
      <%= content_tag :div, :class => "container-fluid col-md-#{col} text-center" do -%>
        <% link_to(article.id, article_path(article)) %>
      <% end %>
       <% i += 1 %>
    <% end %>
  
  <% else %>
  
    <% i = 0 %>
  
    <% @article.reverse.each do |article| %>
      
      <% j = i%3 %>
      <% if j > 0 %>
        <% col = 6 %>
      <% else %>
        <% col = 12 %>
      <% end %>
      <%= content_tag :div, :class => "container-fluid col-md-#{col} text-center" do -%>
        <% link_to(article.id, article_path(article)) %>
      <% end %>
      <% i += 1 %>
    <% end %>
  <% end %>
  
</div>