<div class="container">
  <% @articles.reverse.each do |article| %>
    <%= content_tag :div, class: "col-md-10 col-md-offset-1" do %>
      <%= content_tag :div, class: "well" do %>
        <%= render partial: "article", locals: {article: article} %>
      <% end %>
    <% end %>
  <% end %>
</div>