<div class="container-fluid">
  <!--FOR EACH ARTICLE, CREATE A DIV OF APPROPRIATE SIZE-->
  <% @article.reverse.each do |article| %>
    <% id = article.id %>
    
    <% thumbnail_file_name = article.thumbnail_file_name %>
    
    <% average_color = article.average_color %>

    <%= content_tag :div, :class => "col-md-6 text-center", style: "background: #{average_color};" do -%>
      <%= link_to article_path(article) do %>
        <%= image_tag "articles/#{id}/homepage/#{thumbnail_file_name}" %>
      <% end %>
    <% end %>
  <% end %>
</div>