<div class="container">
  <% @articles.reverse.each do |article| %>
    <%= content_tag :div, class: "col" do %>
      <%= content_tag :div, class: "jumbotron mt-4 p-4" do %>
        <%= render partial: "article", locals: {article: article} %>
      <% end %>
    <% end %>
  <% end %>
</div>