<div class="container-fluid">
  <!--FOR EACH ARTICLE, CREATE A DIV OF APPROPRIATE SIZE-->
  
  
  <% @article.reverse.each do |article| %>
    <% id = article.id %>
    <% title = article.title %>
    <% thumbnail_file_name = article.thumbnail_file_name %>

    
    <%= link_to article_path(article) do %>
      <%= content_tag :div, :class => "row text-center" do -%>  
        <%= content_tag :div, :class => "col-md-6 homepage-thumbnail", style: "background: #2B3F61;" do -%>
          <%= content_tag :h2, "#{title}", :class => "thumbnail-hover" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>