<% article_title = @article.title %>
<div class="row">
  <div class="container text-center">
    <div class="col-md-offset-3 col-md-6">
      <%= content_tag :p, "#{article_title}" , :class => "article-title-text" %>
    </div>
  </div>
</div>
 
<div class="row">
  <div class="container article-container">
   <%= raw(@article.text) %>
  </div>
</div>
 