<% show %>

<div class="container">
  <div class="text-center">
      <%= content_tag :h2, @article.title , :class => "article-title-text" %>
      <% unless @article.id == 1 %>
        <%= content_tag :h4, "by #{@author.email}", :class => "article-author-text" %>
      <% end %>
  </div>
  <%= raw(@article.text) %>
</div>

<script type="text/javascript">
  CKEDITOR.replace('text-area-comments', { toolbar: 'comment' });
</script>