/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery.minicolors
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";


@media (min-width: 992px) and (max-width: 1199px) {

}


//FONTS
  
//TAGS
  a {
    color: whitesmoke;
    text-decoration: none;
  
    &:hover {
      color: #44A08D;
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
    
    &:focus {
      color: grey;
      text-decoration: none;
    }
  }

  body {
    color: #E9F0F0;
    font-family: 'Raleway', sans-serif;
    background: #485563; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #485563, #29323c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #485563, #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  }

  p {
    font-size: 14px;
  }
  
  // Apply custom font to h1,h2,h3,h4
  h1, h2, h3, h5{
    font-family: 'Cutive', sans-serif;
  }
  h4, h6{
    font-family: 'Raleway', sans-serif;
  }

//CLASSES

  // Bye bye rounded borders
  .well, .btn, .form-control, .nav-pills > li > a, .dropdown-menu, .modal-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  
  // Navbar styles
    // Admin Nav
    
      .navbar {
        background: #17212B;
      }
      
      
      // Admin Tools
        .tool{
          float: right;
          padding-left: 8px;
          padding-right: 8px;
          margin-top: 2px;
        }
        .tool-danger {
          color: IndianRed;
        }
        .vertical-line-left {
          border-left: solid 1px;
          border-color: grey;
        }


    // Basic Nav
    
      .navbar-default {
          background: #ECE9E6;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
      
      .navbar-text {
          color: grey;
          font-family: 'Raleway', sans-serif;
          margin-top: -12px;
      }
      
      .navbar-link{
         border-bottom: solid 0px whitesmoke;
         :hover {
           border-bottom-width: 1px;
         }
      }
      
      .blurb {
        margin-top: -20px;
        padding-bottom: 20px;
      }
  
// Flash Messages
  .flash {
    right: 0;
    text-align: center;
    position: absolute;
    margin-top: -12px;
    line-height: .8;
    width: 100%;
    height: 24px;
    border-radius: 0;
  }
  
// Modals
  
  .modal-header{
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,.05);
  }
  .modal-body{
     padding-top: 0;
  }
  .modal-body .nav-pills{
     border-bottom: solid lightgrey 1px;
     padding-top: 3px;
   }

  // Article list
    .article-list-item:hover{
      background: lightgrey;
    }
    #articles-tab{
      .row{
        margin: 0;
      }
      ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
    }
    .articles-search .form-control{
      height: 24px;
    }
    
    #articles-tab h5 {
      margin-top: 12px;
      color: grey;
      display: inline-block;
    }
    
  .modal-title{
    display: inline;
  }
  
// Scrollbar
  .mCS-my-theme .mCSB_container{
      margin-right: 0px;
  }