// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//don't display crop tool img tag before image is selected
img[src="#"] {
   display: none;
}

// Articles
  // INDEX
    .homepage-thumbnail { //The dimensions of each link in the article_index
      height: 360px;
      opacity: .45;
      margin: 0px;
    }
    .thumbnail-hover {
        width: 100%;
        opacity: 0;
    }
    
  // SHOW
    .article-title-text {
        margin-top: 32px;
        font-family: 'Raleway', sans-serif;
    }
    .article-container {
        margin-left: 256px;
        margin-top: 64px;
    }
  
  // NEW/EDIT
    .thumbnail-wrapper {
      display: block;
      height: 360px;
      width: 640px;
      margin: 0 auto;
    }
    .thumbnail-title-preview {
      text-align: center;
    }
    .img-preview {
      overflow: hidden;
      width: 640px; 
      height: 360px;
      vertical-align: middle;
    }