// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Limit image width to avoid overflow the container for cropper.js */
img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

//don't display crop tool img tag before image is selected
img[src="#"] {
   display: none;
}

.img-preview {
  overflow: hidden;
  width: 640px; 
  height: 360px;
  vertical-align: middle;
}

