// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Text field area when creating a new article
.title-area-article {
  
  &:focus{
    outline: none;
  }
  
  border: none;
  width: 100%;
  font-size: 4em;
}

.article-title-text {
  font-size: 1.3em
}
.article-author-text {
  font-size: .8em
}