// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/s

.comment-card {
  overflow: hidden;
  border: none !important;
  .card-text {
    word-wrap: break-word;
  }
}

.char-counter {
  display: inline;
  font-style: italic;
  opacity: 0.6;
}
.badge-warning {
  font-style: default;
  opacity: 1;
}

.commenter {
  font-weight: 500;
}

.view-comments-link {
  font-style: italic;
}

.viewing-comments-text{
  opacity: 0.6;
  font-style: italic; 
}

p[class^="sans-comments-text-"] {
  opacity: 0.6;
  font-style: italic;
}