// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Comments
  .commenter {
    font-family: sans-serif;
  }
  .no-comments-text {
    margin-left: 32px;
    font-style: italic;
    opacity: .75;
  }