.devise-errors{
  background-color: rgba(191, 63, 63, 0.2);
  border-radius: 3px;
  
  .form-group{
    line-height: 8px;
  }
  
  .signup-error{
    font-weight: 400;
    margin-bottom: 0;
  }
  
  h2{
    font-weight: 300;
  }
  li{
    
  }
}